@media screen and (min-width: 600px) {
    .pictureMargin {
        margin-left: 40px;
    }
}

@media screen and (max-width: 600px) {
    .pictureMargin {
        margin-left: 15px;
    }
}


.dropdown-menu {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    height: 49px;
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #235D99;
    margin-top: 20px;
}

.dropdown-menu svg {
    margin-top: 8px;
    width: 10px;
}

.headerSwitch {
    background-color: #051C7D;
    margin-left: 4px;
    margin-right: 4px;
}
.ant-switch-inner {
    background-color: #051C7D;
}

.search_container input {
    width: 200px;
    height: 30px;
    border: 1px solid #DDE0E4;
    background: #FFFFFF;
    border-radius: 8px;
  }

.logo-title_container {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;    
    color: #000000;
    
}

.marginForAllheader {
    margin-bottom: 8px;
}

@media screen and (max-width: 600px) {

/* .spaceForResponse{
    display: none;
} */

.marginForAllheader {
    margin-bottom: 0px;
}

.logo-title_container{
    display: none;
}
}