/* .registration-form {
 
} */

.registration-form-forgot {
  float: right;
}

.ant-col-rtl .recovery-form-forgot {
  float: left;

}

.recovery-form-button {
  width: 100%;
  border-radius: 10px;
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  max-width: 318px;
  background-color:  #235D99;
}

.ant-form-item-required {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: rgba(5, 28, 125, 0.6) !important;
}

.profileCodeInput {
  box-sizing: border-box;
  position: absolute;
  width: 270px;
  height: 48px; 
  border: 1px solid rgba(5, 28, 125, 0.1);
  border-radius: 20px !important;
}


/* label {
  
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: black !important;
  } */


.mainRecovery {
  border: 1px solid #B4B4B4;
  padding: 15px;
  border-radius: 20px;
}

.recoveryInput {
  border-radius: 5px;
  width: 100%;
}

.recoveryCodeInput {
  border-radius: 8px;
  padding: 2px;
  max-width: 190px;
  min-width: 150px;
  border: none;
}

.datepicker {
  padding: 17px;
  border-radius: 5px;
}

 .recBackToLog{
  width: 100%;
  text-align: center;
 } 

 .recoveryTitle {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.6);
 }

 .profileRecoveryButton {
  width: 354px;
  height: 56px;
  background: #046DF8;
  box-shadow: 2px 3px 4px -1px rgba(191, 205, 224, 0.2);
  filter: blur(0.5px);
  border-radius: 20px;
 }

.mainCard .ant-form-item-control-input-content{
    background-color: #FAFBFD;
}
.mainCard .ant-form-item-control-input {
    background-color: #FAFBFD;
}
.mainCard {
  margin-top: 109px;
  border: none;
  height: 200px !important;
}
.colForAlign .ant-input{
  text-align: center;
}
